{$HOSTNAME}

tls {$TLS}

header / {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Frame-Options "deny"
    X-XSS-Protection "1; mode=block"
    X-Content-Type-Options "nosniff"
}

proxy /api localhost:3000

rewrite {
    if {path} not_starts_with /api
    to {path} /
}

ext .html
gzip
log /var/log/http.log
