doctype html
html(lang="en")
  head
    title Bestelling bevestiging
  body
    h1 Hoi #{name} je account is aangemaakt!
    p.
      Welkom bij Cåps.
      Je account is aangemaakt met het emailadress: #{email}
