doctype html
html(lang="en")
  head
    title Bestelling bevestiging
  body
    h1 Bedankt voor je bestelling
    p.
      Order id: #{orderId}
    p.
      Kijk op onze site om je bestelling status te controlleren
