doctype html
html(lang="en")
  head
    title Betalings wijziging
  body
    h1 De betaal status van u order is gewijzigd
    p.
      Order id: #{orderId}
    p.
      Kijk op onze site om je bestelling status te bekijken.
